[Unit]
Description=Proxy checker

[Service]
ExecStart=/home/bpqvg/Dev/proxy-pool/venv/bin/python3 /home/bpqvg/Dev/proxy-pool/proxy_checker.py
User=bpqvg
Group=users

[Install]
WantedBy=default.target
