[Unit]
Description=Proxy scanner

[Service]
ExecStart=/home/bpqvg/Dev/proxy-pool/venv/bin/python3 /home/bpqvg/Dev/proxy-pool/proxy_scanner.py

[Install]
WantedBy=default.target
